body {
  background-color: white;
  padding:1%;
}

/************
LOADER
************/

.jumbotron {
  background-color:white;
}

.jumbotron img {
  height:100px;
  width: 100px;
}

.loader {
  position:fixed;
  z-index:1;
  margin:0;
  height:100%;
  width:100%;
  /*visibility: hidden;*/
}

#logo-lg {
  margin:0 auto;
  height:100px;
  width:250px;
}

h1 {
  text-align: center;
}

.countdown {
  visibility:hidden;
}

/************
GAME
************/

.header {
  padding: 10px 10px;
  background-color:white;
}

.header #logo-sm {
  height:50px;
  width:100px;
}

h3 {
  text-align:center;
}

.track {
  padding-top:10px;
  background-image: url('img/at-background.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  width:100%;
}

.row {
  /*padding: 10px 0;*/
  margin: 0;
  /*border: 3px solid red;*/
}

.target {
  text-align:center;
}

.box {
  height:50px;
  width:50px;
  position: relative;
  background-repeat: no-repeat;
  background-size:contain;
  margin:0;
  padding:0;
}

#finn {
  background-size:contain;
  background-image: url('img/finn.png');
}

#jake {
  background-image: url('img/jakehead.png');
}

.reset {
  font-size:24px;
  /*visibility:visible;*/
}

span {
  font-weight:bolder;
  color:red;
  font-size:24px;
}
