body {
  background-color: grey;
  padding:1%;
}

.container {
  padding:5%;
}

.header {
  padding: 10px 10px;
  background-color:white;
}

h1 {
  text-align: center;
}

.track {
  padding-top:10px;
  background-image: url('img/at-background.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  width:100%;
}

.row {
  /*padding: 10px 0;*/
  margin: 0;
  border: 3px solid red;
}

.jumbotron {
  background-color:white;
}

.loader {
  position:fixed;
  z-index:1;
  margin:0;
  height:75%;
  width:100%;
  /*visibility: hidden;*/
}


img {
  margin:0 auto;
  height:100px;
  width:200px;
}

.logo-sm {
  height:50px;
  width:100px;
}

.target {
  text-align:center;
}

.box {
  height:50px;
  width:50px;
  position: relative;
  background-repeat: no-repeat;
  background-size:contain;
}

#finn {
  margin-left: 10px;
  background-size:contain;
  background-image: url('img/finn.png');
}

#jake {
  height:100px;
  width:100px;
  background-image: url('img/jakehead.png');
}

.reset {
  /*visibility:hidden;*/
}
